<!-- Button feed trigger modal -->
<button type="button" class="btn btn-primary float-end m-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
(click) =modalAdd()>
  Add New Feed
</button>

<!-- Button fili types trigger modal -->
<button type="button" class="btn btn-secondary float-end m-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Show File Mimes
</button>

  
  <!-- Show File Types Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">File Mimes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p *ngFor="let type of fileMimesService.fileMimesList$|async">
            {{type.fileMimeId}} - {{type.fileMimeName}}
          </p>
        </div>
      </div>
    </div>
</div>

<table class="table">
    <thead >
        <th>Id</th>
        <th>Feed Name</th>
        <th>Source File</th>
        <th>Target File Mime</th>
        <th>Test/Production</th>
        <th>Changes Records</th>
        <th>Frequency</th>
        <th>Start Date</th>
        <th>Feed Security Type</th>
        <th>Client</th>
        <th>Carrier</th>
        <th>FTP Account</th>
        <th>Developer</th>        
        <th>Options</th>
    </thead>
    <tbody>
        <tr *ngFor="let feed of feedsService.feedsList$|async">
            <td>{{feed.feedId}}</td>
            <td>{{feed.feedName}}</td>
            <td>{{filesService.filesMap.get(feed.sourceFileId)}}</td>
            <td>{{fileMimesService.fileMimesMap.get(feed.targetFileMimeId)}}</td>
            <td>{{feed.inProduction? "PROD" : "TEST"}}</td>
            <td>{{feed.isChangesOnly? "ChangesOnly" : "Full"}}</td>
            <td>{{feedsService.frequenciesMap.get(feed.feedFrequencyId)}}</td>
            <td>{{feed.startDate}}</td>
            <td>{{feedsService.securityTypesMap.get(feed.feedSecurityTypeId)}}</td>
            <td>{{clientsService.clientsMap.get(feed.clientId)}}</td>
            <td>{{feedsService.carriersMap.get(feed.carrierId)}}</td>
            <td>{{serversService.serversMap.get(feed.ftpAccountId)}}</td>
            <td>{{developersService.developerMap.get(feed.developerId)}}</td>            
            <td>
              <!-- Edit Button -->
              <button class="btn btn-outline-primary me-2 mb-1"
              (click) = "modalEdit(feed)" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                </svg>
              </button>
              <!-- Delete Button -->
              <button class="btn btn-outline-danger me-2 mb-1"
              (click) = "deleteFeed(feed)"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                </svg>
              </button>
            </td>
        </tr>
    </tbody>
</table>

<!-- Add or edit Feed Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">{{modalTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
        (click)="modalClose()" id ="add-edit-modal-close"
        ></button>
      </div>
      <div class="modal-body">
        <app-add-edit-feed [feed] ="feed" *ngIf="activateAddEditFeedComponent"></app-add-edit-feed>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-success" role="alert" id="add-success-alert">
  Feed successfully added!
</div>
<div class="alert alert-success" role="alert" id="update-success-alert">
  Feed successfully updated!
</div>
<div class="alert alert-success" role="alert" id="delete-success-alert">
  Feed successfully deleted!
</div>
