<div class="row" style="margin-bottom:15px; width: 30rem;">
    <div class="input-group mb-3">
      <input class="form-control" type="file" #file (change)="uploadFile(file.files); ">
      <span class="input-group-text in-progress" *ngIf="progress && progress > 0 && progress != 100">
        {{progress}}%
      </span>
      <span class="input-group-text upload" *ngIf="progress && progress == 100">
        Done!
      </span>
    </div>
    <div class="col-md-4">
      <span class="upload" *ngIf="message && message==file.innerText">
        {{message}}
      </span>
      <span class="upload-error" *ngIf="message && message!=file.innerText">
        {{message}}
      </span>
    </div>
  </div>