.upload {
  font-weight: bold;
  color: #198754;
  margin-left: 15px;
  line-height: 20px;
}

.in-progress {
  font-weight: bold;
  color: #0d6efd;
  margin-left: 15px;
  line-height: 20px;
}

.upload-error {
  font-weight: bold;
  color: #dc3545;
  margin-left: 15px;
  line-height: 20px;
}
