<form>
    <!-- ftpHost input -->
    <div class="mb-3">
        <label for="ftpHost" class="form-label">Host</label>
        <input type="text" class="form-control" [(ngModel)]="ftpHost" name="ftpHost">
    </div>

    <!-- ftpUser input -->
    <div class="mb-3">
        <label for="ftpUser" class="form-label">User</label>
        <input type="text" class="form-control" [(ngModel)]="ftpUser" name="ftpUser">
    </div>

    <!-- ftpPassword input -->
    <div class="mb-3">
        <label for="ftpPassword" class="form-label">Password</label>
        <input type="text" class="form-control" [(ngModel)]="ftpPassword" name="ftpPassword">
    </div>

    <!-- ftpDirectory input -->
    <div class="mb-3">
        <label for="ftpDirectory" class="form-label">Directory</label>
        <input type="text" class="form-control" [(ngModel)]="ftpDirectory" name="ftpDirectory">
    </div>

    <!-- ftpType input -->
    <div class="mb-3">
        <label for="ftpType" class="form-label">Type</label>
        <input type="text" class="form-control" [(ngModel)]="ftpType" name="ftpType">
    </div>

    <!-- ftpPort input -->
    <div class="mb-3">
        <label for="ftpPort" class="form-label">Port</label>
        <input type="number" class="form-control" [(ngModel)]="ftpPort" name="ftpPort">
    </div>
    <div>
        <button class="btn btn-outline-primary" type="button" id="button-addon2" (click)="testConn()">Test</button>
        <div class="parent" id="connecting-spinner">
            <div class="child"><mat-progress-spinner mode="indeterminate" color="warn" diameter="25"></mat-progress-spinner></div>
            <div class="child"><label class="form-label">Connecting...</label></div>
        </div>
    </div>
    <div>
        <div class="alert alert-success" role="alert" id="test-success-alert">
            {{messageConnectionTest}}
        </div>
        <div class="alert alert-danger" role="alert" id="test-error-alert">
            {{messageConnectionTest}}
        </div>
    </div>
    
    <div>
        <button (click) ="addAccount()" *ngIf="account.ftpAccountId==0" class="btn btn-primary">Add</button>
        <button (click) ="updateAccount()" *ngIf="account.ftpAccountId!=0" class="btn btn-primary">Update</button>
    </div>
    

</form>
