<mat-form-field>
    <mat-chip-list #chipList aria-label="Choose a date" (click)="picker.open()">
      <mat-chip
        *ngFor="let value of model"
        [selectable]="false"
        [removable]="true"
        (removed)="remove(value)"
      >
        {{ value | date }}
        <mat-icon matChipRemove svgIcon="delete" aria-hidden="false" style="margin-bottom: 5px"></mat-icon>
      </mat-chip>
      <input
        [value]="resetModel"
        matInput
        [matDatepicker]="picker"
        placeholder="Choose a date"
        (dateChange)="dateChanged($event)"
        [matChipInputFor]="chipList"
        hidden
      />
    </mat-chip-list>
    <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker
      #picker
      [startAt]="init"
      [dateClass]="dateClass"
    ></mat-datepicker>
  </mat-form-field>