<form>
    <!-- Client name input -->
    <div class="mb-3">
        <label for="clientName" class="form-label">Name</label>
        <input type="text" class="form-control" [(ngModel)]="clientName" name="clientName">
    </div>

    <!-- Client surname input -->
    <div class="mb-3">
        <label for="clientTaxId" class="form-label">Tax ID</label>
        <input type="text" class="form-control" [(ngModel)]="clientTaxId" name="clientTaxId">
    </div>

    <!-- Client age input -->
    <div class="mb-3">
        <label for="contactName" class="form-label">Contact Name</label>
        <input type="text" class="form-control" [(ngModel)]="contactName" name="contactName">
    </div>

    <!-- Client adress input -->
    <div class="mb-3">
        <label for="contactMails" class="form-label">Contact E-mails</label>
        <input type="text" class="form-control" [(ngModel)]="contactMails" name="contactMails">
    </div>

    <!-- Client adress input -->
    <div class="mb-3">
        <label for="contactPhoneNumbers" class="form-label">Contact Phone Numbers</label>
        <input type="text" class="form-control" [(ngModel)]="contactPhoneNumbers" name="contactPhoneNumbers">
    </div>


    <button (click) ="addClient()" *ngIf="client.clientId==0" class="btn btn-primary">Add</button>
    <button (click) ="updateClient()" *ngIf="client.clientId!=0" class="btn btn-primary">Update</button>

</form>
