<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">EDI Manager</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <button class="nav-link align-middle px-0" (click) ="setAllFalse(); setBool(1, true)">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Feeds</span>
                        </button>
                    </li>
                    <li>
                        <button (click)="setAllFalse(); setBool(2, true)" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Clients</span>
                        </button>
                    </li>
                    <li>
                        <button (click)="setAllFalse();" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Carriers</span>
                        </button>
                    </li>
                    <li>
                        <button (click)="setAllFalse(); setBool(3, true)" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Developers</span>
                        </button>
                    </li>
                    <li>
                        <button (click)="setAllFalse();" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">FTP Accounts</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <app-feed *ngIf="getFeedsActivator(1)"></app-feed>
        <app-client *ngIf="getFeedsActivator(2)"></app-client>
        <app-developer *ngIf="getFeedsActivator(3)"></app-developer>
    </div>
</div>