<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-md-3 col-xl-2 bg-dark">
            <div class="d-flex flex-column pt-2 text-white min-vh-100">
                <a href="/home" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">EDI Manager</span>
                </a>
                <ul class="nav nav-tabs nav-justified ms-n1 " id="adminDevTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="admin-tab" data-bs-toggle="tab" data-bs-target="#admin" type="button" role="tab" aria-controls="home" >Admin</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="dev-tab" data-bs-toggle="tab" data-bs-target="#dev" type="button" role="tab" aria-controls="profile" >Dev</button>
                    </li>
                </ul>
                <div class="tab-content flex-fill bg-light">
                    <div class="tab-pane back-dark fade show active p-0" id="admin" role="tabpanel" aria-labelledby="home-tab">
                        <ul class="nav flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="adminSideBar">
                                <li>
                                    <a href="#" class="nav-link" id="v-pills-clients-tab" data-bs-toggle="pill" data-bs-target="#v-pills-clients"
                                    role="tab" aria-controls="v-pills-clients" aria-selected="false" (click)="setAllFalse(); setBool(2, true)">
                                    Clients
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link" id="v-pills-carriers-tab" data-bs-toggle="pill" data-bs-target="#v-pills-carriers"
                                    role="tab" aria-controls="v-pills-carriers" aria-selected="false" (click)="setAllFalse(); setBool(4, true)">
                                    Carriers
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link" id="v-pills-platforms-tab" data-bs-toggle="pill" data-bs-target="#v-pills-platforms"
                                    role="tab" aria-controls="v-pills-platforms" aria-selected="false" (click)="setAllFalse(); setBool(6, true)">
                                    Platforms
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link" id="v-pills-developers-tab" data-bs-toggle="pill" data-bs-target="#v-pills-developers"
                                    role="tab" aria-controls="v-pills-developers" aria-selected="false" (click)="setAllFalse(); setBool(3, true)">
                                    Developers
                                    </a>
                                </li>
                        </ul>
                    </div>
                    <div class="tab-pane fade p-0" id="dev" role="tabpanel" aria-labelledby="profile-tab">
                        <ul class="nav flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="devSideBar">
                                <li class="nav-item" id="feedsNavBar">
                                    <a href="#" class="nav-link" id="v-pills-feeds-tab" data-bs-toggle="pill" data-bs-target="#v-pills-feeds"
                                    role="tab" aria-controls="v-pills-feeds" aria-selected="false" (click) ="setAllFalse(); setBool(1, true);">
                                    Feeds
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link" id="v-pills-ftp-accounts-tab" data-bs-toggle="pill" data-bs-target="#v-pills-ftp-accounts"
                                    role="tab" aria-controls="v-pills-ftp-accounts" aria-selected="false" (click)="setAllFalse(); setBool(5, true)">
                                    FTP Accounts
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link" id="v-pills-developers-tab" data-bs-toggle="pill" data-bs-target="#v-pills-developers"
                                    role="tab" aria-controls="v-pills-developers" aria-selected="false" (click)="setAllFalse(); setBool(7, true)">
                                    FTP Servers
                                    </a>
                                </li>
                        </ul>
                    </div>
                    <div class="row g-3 align-items-center logout">
                        <div class="col-auto">
                          <label for="inputPassword6" class="col-form-label userName" id="userName">{{currentUser}}</label>
                        </div>
                        <div class="col-auto">
                            <button type="button" class="btn btn-outline-danger" (click)="logout()">Log Out</button>
                        </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col-md-9 col-xl-10">
            <app-feed  *ngIf="getFeedsActivator(1)"></app-feed>
            <app-client *ngIf="getFeedsActivator(2)"></app-client>
            <app-developer *ngIf="getFeedsActivator(3)"></app-developer>
            <app-carrier *ngIf="getFeedsActivator(4)"></app-carrier>
            <app-accounts *ngIf="getFeedsActivator(5)"></app-accounts>
            <app-platforms *ngIf="getFeedsActivator(6)"></app-platforms>
            <app-ssh-keys *ngIf="getFeedsActivator(7)"></app-ssh-keys> 
        </div>        
    </div>
</div>